.popup__submit {
    display: block;
    height: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    background-color: #000;
    color: #fff;
    margin: 18px 0 37px;
    border: none;
    border-radius: 2px;
    opacity: 1;
    cursor: pointer;
}

.popup__submit:hover {
    opacity: .8;
    -webkit-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

@media screen and (max-width: 500px) {
    .popup__submit {
        margin: 15px 0 25px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}