.popup__content_place-pic {
    max-width: 75vw;
    max-height: 75vh;
    margin: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
    background: transparent;
    /* justify-self: center;
    align-self: center; */
}