.popup__input-error {
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    font-style: normal;
    color: rgba(255, 0, 0, 1);
    position: absolute;
    top: calc(100% + 6px);
    display: none;
}