.popup__close {
    width: 32px;
    height: 32px;
    background-image: url("../../../images/close-icon.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
    right: -40px;
    top: -40px;
    opacity: 1;
    -webkit-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    transition: opacity .3s linear;
}

.popup__close:hover {
    opacity: .6;
}

@media screen and (max-width: 600px) {
    .popup__close {
        right: 0;
        top: -48px;
        background-size: 20px;
    }
}