.profile__description {
    margin: 0;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    font-style: normal;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 400px;
}

@media screen and (max-width: 700px) {
    .profile__description {
        line-height: 22px;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        max-width: 250px;
        font-size: 14px;
    }
}